*{
	
	box-sizing: content-box;
	font-family: Century Gothic;

}

{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    background-image: url("HEXAGON.PNG");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
	font-size: 18px;
	line-height: 62px;
}



.container{
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}


.item{
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
  transition: all 300ms;
  align-content: center;
  position: relative;
}


.item::after {
  content: "";
  background-color: rgba(179, 229, 252, .1);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  transform: scale(0);
  transition: all 300ms;
  opacity: 0;
}

.item:hover:after{
  opacity: 1;
  transform: scale(1);
}

.item:hover {
  transform: scale(1.05);

}

.item-text{
  padding: 1em;
}


.item-img{
  max-width: 500%;
  display: block;
  margin:auto;
  justify-content: center;
}


@media screen and (min-width: 590px) {
  
  .container{
    grid-template-columns: repeat(2, 1fr);
  }
  
}



@media screen and (min-width: 960px) {
  
  .container{
    grid-template-columns: repeat(3, 1fr);
  }
  
}
img{
	width: 200px;
    height: 200px;
    left: 35px;

    
    
}
@keyframes cambio{
	from{
		background-color:white;
		color:#204E70;  
	}
	to{
		background-color:#204E70;
		color: white;
	}
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.resumen{
	width:1450px;
	display: flex;
	margin: 60px auto;
	
}

.resumen .izquierda{
	width: 70%;
	border-left: 4px solid #111;
	border-top: 4px solid #111;
	border-bottom: 4px solid #111;
    border-right: 4px solid #111;
	color:#FFFFFF;
	background-color: #204E70; 

	 
}


.perfil{
	width: 70px;
	height: 100px;
    position: absolute;
    left: 35px;

}
.imagen{
    
    width: 500px; 
    height: 300px;
    
}


.resumen .derecha{
	width: 2000px;
    border-left: 50px solid white;

	background:#EFEFEF ;
	color: black;

}
.resumen .derecha .cont{
	margin: 10px;

}

.anima{
	animation-name: cambio;
	animation-duration: 5s;
	animation-iteration-count: infinite; 
	animation-direction: alternate;
}
  
.titulo{
    position: static;
   text-align: center;
    left: 65px;
    animation-name: cambio;
	animation-duration: 5s;
	animation-iteration-count: infinite; 
	animation-direction: alternate;
}
.iniciar{
  color: #5C5C5C;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;     
}
.boton{
  border: none;
  color: #204E70;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 12px 350px;
  cursor: pointer;
    
}
.barra{
    position: static;
   text-align: center;
    left: 65px;
    background-color:#204E70;
    color: white;
    word-spacing:200px;
}
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display: contents;
    width:10%;
    padding:5px 10px;
    background-color:#F537FA;
    border:2px solid #F566F9;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#B4EEF8;
    color:#000;
    }